@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  font-display: swap;
  src: url('../fonts/Helvetica-Neue-Condensed-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Condensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  font-display: swap;
  src: url('../fonts/Helvetica-Neue-Condensed-Black.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue-Condensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
