/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'import/fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1140;
$rubikFont: 'Rubik';
$helveticaFont: 'Helvetica';
$greenColor: #3c5;
$yellowColor: #fa3;
$blackColor: #111;
$whiteColor: rgba(255, 255, 255, 1);
$lightWhiteColor: rgba(255, 255, 255, 0.8);
$darkGrayColor: #222;
$middleGrayColor: #333;
$lightGrayColor: #888;
/*==================== VARIABLES ====================*/

/*==================== MIXIN ====================*/
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
/*==================== MIXIN ====================*/

/*==================== BASIC PARAMETERS ====================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $helveticaFont;
  font-weight: 400;
  background: #191919;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;

  &__work,
  &__dishes,
  &__chefs,
  &__recipes,
  &__social {
    &:not(:last-child) {
      @include respValue('margin-bottom', 90, 60, 1);
    }
  }

  &:not(:last-child) {
    @include respValue('margin-bottom', 120, 90, 1);
  }
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCKS ====================*/

//! container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
//! container

//! responsive image
@import 'import/ibg.scss';

.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
//! responsive image

//! title block
.title-block-h1 {
  display: grid;
  font-family: $helveticaFont;
  font-weight: 700;
  @include respValue('font-size', 72, 26, 1);
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: capitalize;
  color: $whiteColor;

  &__item-inner {
    font-weight: 400;
  }
}

.title-block-h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include respValue('min-height', 150, 90, 1);
  font-family: $helveticaFont;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $greenColor;
  }

  &__title {
    font-weight: 900;
    @include respValue('font-size', 100, 60, 1);
    text-transform: uppercase;
    color: $middleGrayColor;
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    @include respValue('font-size', 36, 16, 1);
    text-transform: capitalize;
    color: $whiteColor;
    z-index: 3;
  }
}
//! title block

//! oval button
.oval-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $helveticaFont;
  line-height: 1.2;
  letter-spacing: 0.2em;
  overflow: hidden;
  transition: all 0.2s linear;
  z-index: 3;

  &__item {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: all 0.2s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &_big-green {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    @include respValue('min-height', 72, 52, 1);
    padding: 0 10px;
    border-radius: 42px;
    background: $greenColor;
    color: $blackColor;

    &::before {
      border-radius: 42px;
      background: $yellowColor;
    }
  }

  &_small-gray {
    position: relative;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 5px;
    min-height: 40px;
    border-radius: 32px;
    background: $middleGrayColor;
    color: $lightGrayColor;

    &::before {
      border-radius: 32px;
      background: $greenColor;
    }

    &:hover {
      color: $blackColor;
    }
  }
}
//! oval button

//! square button
.square-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  font-family: $helveticaFont;
  font-weight: 900;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px;
  overflow: hidden;
  z-index: 3;

  &__item {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(238, 238, 238, 0.7);
    transform: translateX(-4em) skewX(-45deg);
  }

  &:hover {
    &::before {
      animation: highlight 1.2s linear;
    }
  }

  &_bg-black {
    background: rgba(0, 0, 0, 1);
    color: $whiteColor;
  }

  &_bg-transp {
    background: rgba(0, 0, 0, 0.1);
    color: $lightGrayColor;
  }
}

@keyframes highlight {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  100% {
    transform: translateX(40em) skewX(-45deg);
  }
}
//! square button

//! logo switcher
.logo-switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s linear;
  cursor: pointer;
  z-index: 3;

  &__check {
    display: none;
  }

  &__item {
    position: absolute;
    background: url('@img/header/switcher-icon.svg') 0 0 / cover no-repeat;
    width: 9px;
    height: 7px;
    top: -8px;
    left: 16px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s linear;
  }

  &__text {
    padding: 0 0 0 40px;
    font-family: $helveticaFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $whiteColor;
    transition: all 0.2s linear;
  }

  &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 1px;
    background: $middleGrayColor;
    border-radius: 50%;
    transition: all 0.2s linear;
  }

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    top: 0;
    left: 0;
    background: $whiteColor;
    border-radius: 20px;
    transition: all 0.2s linear;
  }

  &.active {
    &::after {
      left: 11px;
    }

    &::before {
      background: $greenColor;
    }

    .logo-switcher__text {
      color: $greenColor;
    }

    .logo-switcher__item {
      opacity: 1;
      transform: scale(1);
    }
  }
}
//! logo switcher

//! link button
.link-button {
  position: relative;
  display: inline-block;
  font-family: $helveticaFont;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $whiteColor;
  transition: color 0.2s linear;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background: $greenColor;
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.2s linear;
  }

  &:hover {
    color: $greenColor;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
//! link button

//! contats items
.contacts-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
  justify-content: center;
  column-gap: 60px;
  @include respValue('column-gap', 60, 30, 1);
  row-gap: 10px;
  line-height: 1.2;

  &__item {
    text-align: center;
    padding: 20px;

    &:hover {
      .contacts-items__icon {
        fill: $greenColor;
      }
    }
  }

  &__icon {
    fill: $lightGrayColor;
    transition: all 0.2s linear;

    &:not(:last-child) {
      margin: 0 0 16px 0;
    }

    max-width: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    color: $lightWhiteColor;

    &:not(:last-child) {
      margin: 0 0 8px 0;
    }
  }

  &__subtitle {
    color: $lightGrayColor;

    &:not(:last-child) {
      margin: 0 0 8px 0;
    }
  }
}
//! contats items

/*==================== REPEAT BLOCKS ====================*/

/*==================== HEADER ====================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s linear;

  @media (max-width: 767.98px) {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: $darkGrayColor;
      transition: all 0.1s linear;
      z-index: 3;
    }

    &.active {
      &::before {
        top: 0;
      }
    }
  }

  &__body {
    display: grid;
    grid-template: minmax(auto, 90px) / auto 1fr;
    align-items: center;

    @media (max-width: 767.98px) {
      grid-template-rows: minmax(auto, 60px);
    }
  }

  &__logo {
    grid-column: 1/2;
  }

  &__menu {
    grid-column: 2/3;
    justify-self: end;

    @media (max-width: 767.98px) {
      .menu__link {
        font-size: 20px;
      }
    }
  }

  &__burger {
    @media (max-width: 767.98px) {
      grid-column: 2/3;
      justify-self: end;
    }
  }
}

.menu {
  @media (max-width: 767.98px) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: $middleGrayColor;
    padding: 150px 0 0 0;
    overflow: auto;
    transition: all 0.3s linear;

    &.active {
      top: 0;
    }
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 36px;

    @media (max-width: 767.98px) {
      justify-items: center;
      grid-auto-flow: row;
      row-gap: 36px;
    }
  }
}

.burger {
  display: none;

  @media (max-width: 767.98px) {
    position: relative;
    display: grid;
    grid-template: repeat(3, 6.7px) / 30px;
    cursor: pointer;
    z-index: 3;

    &__item {
      position: absolute;
      width: 100%;
      height: 1.8px;
      top: 9px;
      left: 0;
      background: $whiteColor;
      transition: all 0.2s linear;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.8px;
      left: 0;
      background: $whiteColor;
      transition: all 0.2s linear;
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &:active {
      span,
      &::before,
      &::after {
        background: $yellowColor;
      }
    }

    &.active {
      span {
        transform: scale(0);
      }

      &::before {
        background: $greenColor;
        transform: rotate(45deg);
        top: 9px;
      }

      &::after {
        background: $greenColor;
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }
}
/*==================== HEADER ====================*/

/*==================== INTRO ====================*/
.intro {
  position: relative;
  min-height: 100vh;
  font-family: $helveticaFont;

  &__body {
    @include respValue('padding-top', 150, 120, 1);
    padding-bottom: 200px;
  }

  &__title {
    &:not(:last-child) {
      margin: 0 0 16px 0;
    }
  }

  &__text {
    max-width: 550px;
    margin: 0 auto;
    @include respValue('font-size', 16, 13, 1);
    line-height: 1.6;
    text-align: center;
    color: $lightWhiteColor;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__button {
    max-width: 220px;
    @include respValue('max-width', 220, 160, 1);
    margin: 0 auto;

    &:not(:last-child) {
      &:not(:last-child) {
        @include respValue('margin-bottom', 80, 60, 1);
      }
    }
  }

  &__contacts {
  }

  &__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/*==================== INTRO ====================*/

/*==================== ABOUT ====================*/
.page {
  &__about {
    &:not(:last-child) {
      margin: 0 0 60px 0;
    }
  }
}

.about {
  &__container {
    @include respValue('padding-top', 90, 30, 1);
    @include respValue('padding-bottom', 90, 30, 1);
    margin-top: -150px;
    background: $darkGrayColor;
    border-radius: 8px;
  }

  &__title-block-h2 {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    &::before {
      display: none;
    }
  }

  &__text {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    color: $lightGrayColor;

    &:not(:last-child) {
      @include respValue('margin-bottom', 90, 60, 1);
    }
  }

  &__slider {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  min-width: 0;

  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 6px 0 $whiteColor;
    transition: all 0.2s linear;
    z-index: 3;

    &.slick-prev {
      left: 0;
      background: url('@img/about/icons/01.png') 0 0 / cover no-repeat;
    }

    &.slick-next {
      right: 0;
      background: url('@img/about/icons/02.png') 0 0 / cover no-repeat;
    }

    &.slick-disabled {
      box-shadow: 0 0 6px 0 #f00;
    }
  }

  .slick-list {
    overflow: hidden;

    @media (max-width: 700.98px) {
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;

    li {
      &.slick-active {
        button {
          background: $whiteColor;
        }
      }
    }

    button {
      font-size: 0;
      width: 7px;
      height: 7px;
      background: $lightGrayColor;
      border-radius: 50%;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  &__image {
    max-width: 350px;
    border-radius: 6px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*==================== ABOUT ====================*/

/*==================== WORK ====================*/
.work {
  &__title-block-h2 {
    &:not(:last-child) {
      @include respValue('margin-bottom', 60, 40, 1);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 255px));
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
  }

  &__item {
    background: $darkGrayColor;
    border-radius: 6px;
    overflow: hidden;
    padding: 24px 32px 32px 24px;
    line-height: 1.2;
    transition: all 0.2s linear;

    &:hover {
      background: $greenColor;

      .work__title {
        color: $blackColor;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }

      .work__text {
        color: $darkGrayColor;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    color: $whiteColor;
    transition: all 0.2s linear;

    &::before {
      content: '';
      position: absolute;
      width: 56px;
      height: 2px;
      bottom: -10px;
      left: 0;
      background: $greenColor;
      transition: all 0.4s linear;
    }

    &::after {
      content: '';
      position: absolute;
      width: 56px;
      height: 2px;
      bottom: -10px;
      left: 0;
      background: $blackColor;
      opacity: 0;
      transform: scale(0);
      transform-origin: left;
      transition: all 0.2s linear;
    }

    &:not(:last-child) {
      margin: 0 0 26px 0;
    }
  }

  &__text {
    font-size: 13px;
    color: $lightWhiteColor;
    transition: all 0.2s linear;
  }
}
/*==================== WORK ====================*/

/*==================== DISHES ====================*/
/*==================== DISHES ====================*/
